body {
  margin: 0;
}

.bg-dark {
  background-color: #262338 !important;
}

.text-white {
  color: #fcfcfc !important;
}

.card-mr {
  margin: 50px !important;
  border-radius: 32px !important;
}

.todo-chip {
  display: flex;
  justify-content: center;
  background: #a996ff;
  border-radius: 8px;
  color: #14142b;
  width: fit-content !important;
}

.form-style {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 20px !important;
}

.insert-btn {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 16px 24px !important;
  gap: 12px !important;
  background: #a996ff !important;
  border-radius: 12px !important;
  color: #4700ab !important;
  min-width: fit-content !important;
}

.complete-btn {
  display: block !important;
  margin-left: auto !important;
  background: #4700ab !important;
  border-radius: 48px !important;
  color: #fcfcfc !important;
  padding: 8px 16px !important;
  margin-top: 12px !important;
}

.delete-all{
  background-color: red !important;
}

.text-center{
  text-align: center !important;
}
